@font-face {
    font-family: kamaticarcade;
    src: url("../fonts/karmatic_arcade/ka1.woff2") format("woff2"),
         url("../fonts/karmatic_arcade/ka1.woff") format("woff");
}


body {
    background: none !important;
}

#document {
    height: 1259px;
    width: 812px;
    top: 115px;
    left: 263px;
    position: fixed;
}

#logo{
    height: 220px;
    width: 400px;
    top: 165px;
    left: 414px;
    position: fixed;
}

#create_rapport {
    font-size: 20px;
    padding: 25px;
    color: white;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 350px;
    border-radius: 7px;
}

#create_rapport button {
    background-color: aliceblue;
    padding: 12px;
}

/*/////////////////////////////////////////*/
/*          Placement des champs           */
/*/////////////////////////////////////////*/

#create_rapport #create_date{
    width: 45%;
    font-size: 15px;
    padding: 5px;
    left: 1158px;
    top: 350px;
    position: fixed;
}

#create_rapport #create_client_name{
    width: 45%;
    font-size: 15px;
    padding: 5px;
    left: 1158px;
    top: 395px;
    position: fixed;
}

#create_rapport #create_employer_name{
    width: 52%;
    font-size: 15px;
    padding: 5px;
    left: 1385px;
    top: 395px;
    position: fixed;
}

#create_rapport #create_compendium{
    width: 109%;
    font-size: 15px;
    padding: 5px;
    left: 1160px;
    top: 460px;
    position: fixed;
    text-align: center;
}

#create_rapport #create_description{
    width: 109%;
    font-size: 15px;
    padding: 5px;
    left: 1160px;
    top: 500px;
    position: fixed;
    text-align: start;
    height: 250px;
}

#create_rapport #create_charge{
    width: 52%;
    font-size: 15px;
    padding: 5px;
    left: 1160px;
    top: 764px;
    position: fixed;
}

#create_rapport #create_peine{
    width: 52%;
    font-size: 15px;
    padding: 5px;
    left: 1389px;
    top: 764px;
    position: fixed;
}

#create_rapport #create_honoraire_estime{
    width: 52%;
    font-size: 15px;
    padding: 5px;
    left: 1160px;
    top: 835px;
    position: fixed;
}

#create_rapport #create_honoraire_percu{
    width: 52%;
    font-size: 15px;
    padding: 5px;
    left: 1389px;
    top: 835px;
    position: fixed;
}

#create_rapport #create_provenance{
    width: 52%;
    font-size: 15px;
    padding: 5px;
    left: 1270px;
    top: 880px;
    position: fixed;
}

#create_rapport label{
    width: 52%;
    font-size: 15px;
    padding: 5px;
    left: 1160px;
    top: 923px;
    position: fixed;
    color: black;
    font-size: 20px;
}

#create_rapport #create_confidentiel{    
    width: 52%;
    font-size: 15px;
    padding: 5px;
    left: 1175px;
    top: 930px;
    position: fixed;
}

#create_rapport #create_signature{    
    width: 52%;
    font-size: 15px;
    padding: 5px;
    left: 1160px;
    top: 764px;
    position: fixed;
}

#create_rapport #submit{
    width: 24%;
    font-size: 16px;
    padding: 5px;
    left: 1330px;
    top: 954px;
    position: fixed;
}

#create_rapport #close{
    width: 24%;
    font-size: 16px;
    padding: 5px;
    left: 1530px;
    top: 280px;
    position: fixed;
}

/*/////////////////////////////////////////*/
/*        Fin du Placement des champs      */
/*/////////////////////////////////////////*/
#buttonlist {
    padding: 12px;
    display: block;
    top: 419px;
    left: 422px;
    position: fixed;
    margin: 4px 2px;
    padding: 2px;
    
}

#buttonlist button {
    display: block;
    margin: 6px 2px;
    width: 350px;
    height: 60px;
    background-color: rgb(241, 215, 99);
    border: 5px solid black;
    border-radius: 1.5rem;
    font-size: 30px;
}

#signature {
    width: 100px;
    height: 100px;
    top: 767px;
    left: 351px;
    position: fixed;
}

#signtext {
    top: 847px;
    left: 468px;
    position: fixed;
    font-family: kamaticarcade;
}



.report-select{
    position: absolute;
    top: 637px;
    left: 541px;
    transform: translate(-50%,-50%);
}

.report-select select{
    background-color: rgb(241, 215, 99);
    color: black;
    padding: 12px;
    width: 100%;
    border: none;
    font-size: 20px;
    border: 5px solid black;
    border-radius: 1.5rem;
    appearance: button;
    outline: none;
}

.report-select::before{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.report-select:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.report-select select option {
    padding: 30px;
}